app = "miriad-frontend"
primary_region = "ams"

[build]
dockerfile = "Dockerfile.fly"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true

[[vm]]
memory = "256mb"
cpu_kind = "shared"
cpus = 1